h1 {
    color: red;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
}
p{
    background-color: black;
    color: green;
    font-family: Arial;
}
img {
    background-color: red;
}